

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
	background-color: #CECECE !important;
   margin: 200px !important;
}

* {
  transition: all .2s ease;
}

/* Sección para pagina de inicio de sesión */
.extra-info {
  display: none;
  line-height: 430px;
  font-size: 12px;
	position: absolute;
  top: 0;
  left: 113px;
}

.extra-info2 {
  display: none;
  line-height: 465px;
  font-size: 12px;
	position: absolute;
  top: 0;
  left: 113px;
}

.info:hover .extra-info {
  display: block;
}

.info:hover .extra-info2 {
  display: block;
}

.info {
  font-size: 20px;
  color: rgb(22, 16, 110);
  padding-left: -10px;
  padding-top: 10px;
  width: 20px;
  border-radius: 105px;
}

.info:hover {
  background-color: white;
  padding: 10 0 0 0px;
  width: 410px;
  text-align: left !important;
}


/* Sección para página principal de estudiante y profesor */
/* The sidebar menu */
.sidenav {
  height: 80%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #153170; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.button3 {
  background-color: #ffffff; /* Green */
  border: none;
  color: #153170;
  border: 3px solid #ffffff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  bottom: 80px;
  left: 40px;
}

.labelWhite {
  color: white;
  font-size: 25px;
  font-family: Arial;
  position: relative;
  left: 20px;
}
.success {background-color: #4CAF50;} /* Green */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */ 
.other {background-color: #e7e7e7; color: black;} /* Gray */ 


.button3:hover {
  background-color: #145628;
  color: black
}